__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/
.venv/
Pipfile
Pipfile.lock

build/
dist/
*.egg-info/
*.spec

*.log
logs/
debug.log
.DS_Store

.vscode/
.idea/
*.swp
*.swo

site/
site-packages/

.coverage
htmlcov/
nosetests.xml
coverage.xml
pytest_cache/
__coverage__/
.env
